.splitter {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10vh 0 0 100vw;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-top: -10vh;
}