.splitter {
    width: 110vw;
    height: 7vh;
    margin-top: -5vh;
    margin-left: -5vw;
    z-index: 1;
    position: absolute;
    background-color: black;
    rotate: 3deg;
}
.splitter * {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
    margin-top: 1rem;
}