.orb {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.purple_orb {
    box-shadow: inset 0 0 0.5rem #fff,
                inset 0.2rem 0 0.8rem #f0f,
                inset -0.2rem 0 0.8rem #0ff,
                inset 0.2rem 0 3rem #f0f,
                inset -0.2rem 0 3rem #0ff,
                0 0 0.5rem #fff,
                0.1rem 0 4rem #f0f;
}

.green_orb {
    box-shadow: inset 0 0 0.5rem #fff,
                inset 0.2rem 0 0.8rem #0f0,
                inset -0.2rem 0 0.8rem #ff0,
                inset 0.2rem 0 3rem #0f0,
                inset -0.2rem 0 3rem #ff0,
                0 0 0.5rem #fff,
                0.1rem 0 4rem #0f0;
}