.iconList {
    height: auto;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.icon {
    margin: 0;
}

.icon * {
    height: inherit;
    width: inherit;
    padding: 0 0.4rem;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--gray);
    padding: 0.25rem 0.5rem;
    color: #fff;
    border-radius: 0.25rem;
    text-align: center;
}

.icon:hover > .tooltip {
    visibility: visible;
}