.iconList {
    height: 3rem;
    display: flex;
    gap: 0.5rem;
}

.icon {
    height: 3.5rem;
    width: 3.5rem;
    margin: 0;
}

.icon * {
    height: 3.5rem;
    width: 3.5rem;
}

.iconList :global(ul) {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.iconList :global(li) {
    list-style-type: none;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    background-color: var(--gray);
    padding: 0.25rem 0.5rem;
    color: #fff;
    border-radius: 0.25rem;
    text-align: center;
}

.icon:hover > .tooltip {
    visibility: visible;
}