:root {
  --dark-gray: #201d1d;
  --darker-gray: #141212;
  --gray: #3D3E40;
  --light-gray: #9c9c9c;
  --dark-blue: #032564;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

div {
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.9rem;
  line-height: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 0;
}

.container {
  width: 60vw;
  max-width: 25cm;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}

@media all and (max-width: 768px) {
  .container {
      width: 90vw;
  }
}
